<nav aria-label="breadcrumb" class="breadcrumb-nav fixed-top">
  <div class="breadcrumb mb-0">
      <ul class="container mb-0 pl-3 pr-3">
          <li class="breadcrumb-item d-inline"><a href="/study">Cost Estimator</a></li>
          <li *ngFor="let crumb of breadcrumbElements"
            class="breadcrumb-item d-inline"
            [class.active]="crumb.isActive">
            <span
              (click)="crumb.isLink && navigate(crumb.linkUrl)"
              [class.link]="crumb.isLink">
              {{ crumb.title }}
            </span>
          </li>
      </ul>
  </div>
</nav>
